<nav class="main-nav" aria-label="main">

  <button class="main-nav__menu-btn" aria-label="menu" aria-expanded="false" aria-controls="main-menu">
    <span></span>
  </button>

  {% set navPages = collections.all | eleventyNavigation %}
  {% macro renderNavListItem(entry) -%}

    {% if entry.children.length %}
      <li class="main-nav__menu-item main-nav__menu-item--has-submenu">
        <button class="main-nav__dropdown" aria-label="submenu" aria-expanded="false">
          <svg aria-hidden="true" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 48" width="14"><defs><clipPath clipPathUnits="userSpaceOnUse" id="a"><path d="M0 .43h600v350H0Z"/></clipPath></defs><g clip-path="url(#a)" transform="matrix(.13333 0 0 -.13333 0 48)"><path d="M298.59 10c-10.699 0-21.399 4.102-29.531 12.23L12.269 279.02c-16.37 16.371-16.37 42.859 0 59.179 16.32 16.289 42.81 16.289 59.141 0L298.59 110.98l227.23 227.18c16.328 16.328 42.809 16.328 59.141 0 16.328-16.32 16.328-42.808 0-59.14L328.16 22.23C320.039 14.06 309.301 10 298.59 10Z" style="fill-opacity:1;fill-rule:nonzero;stroke:none"/></g></svg>
        </button>
        <a href="#0" class="main-nav__link" {% if entry.url == page.url %} aria-current="page" {% endif %}>{{ entry.title }}</a>
        <div class="main-nav__submenu-container">
          <ul class="main-nav__submenu" role="list">
            {%- for child in entry.children %}
              {{ renderNavListItem(child) }}
            {% endfor -%}
          </ul>
        </div>
      </li>
    {% else %}
      <li class="main-nav__menu-item">
        <a href="{{ entry.url }}" {% if entry.url == page.url %} aria-current="page" {% endif %}>{{ entry.title }}</a>
      </li>
    {%- endif -%}

  {%- endmacro %}

  <ul class="main-nav__menu" id="main-menu" role="list">
    {%- for entry in navPages %}
      {{ renderNavListItem(entry) }}
    {%- endfor -%}
  </ul>

</nav>