---
title: Miscellaneous
description: We supply festival power, lighting, sound and video systems for events across Europe. These packages are designed to give you ideas of the sort of setup that suits your requirements.
image: "packages-festival-main-mobile"
eleventyNavigation:
  key: Miscellaneous
  parent: Video
layout: "products/product-list.njk"
---

{% for i in collections.video_misc %}
  {% include "products/product-list-item.njk" %}
{% endfor %}