@use "../abstracts" as *;

.card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid hsl(0, 0%, 39%);
  padding: var(--space-xs);

  &:hover {
    background-color: var(--clr-neutral-301);
  }

  @include media("<medium") {
    background-color: var(--clr-neutral-301);
  }
}

.card__image {
  background-color: #fff;
  border-radius: 3px;
  
  img {
    width: 100%;
    aspect-ratio: 5/3;
    object-fit: contain;
  }
}

.card__content {
  --flow-space: var(--space-3xs);
  display: grid;
  grid-template-rows: auto 1fr auto;
  flex: 1 0 auto;
  text-align: center;
  margin-top: var(--space-s);
}

.card__title {
  font-size: var(--step-1);
  font-weight: 500;

  a:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.125rem;
    text-underline-offset: 0.3125rem;
  }
}

.card__price {
  color: var(--clr-neutral-99);

  span {
    font-weight: 400;
  }
}

/* .card__list {
  & li {
    position: relative;
    padding-left: 21px;
    
    &:not(:last-child) {
      margin-bottom: 5px;
    }

    &::before {
      content: "-";
      display: block;
      width: 10px;
      height: 10px;
      position: absolute;
      left: 0;
      top: 0;
    }

    &::marker {
      // content: url("../img/list-bullet-check.svg");
      content: "-";
      color: var(--clr-primary);
    }
  }
} */

/* .card__link {
  display: block;
  font-size: var(--step--2);
  font-weight: 800;
  color: var(--clr-neutral-3);
  text-transform: uppercase;
  padding: 1em 1.6em;
  border-radius: 4px;
  background-color: var(--clr-primary);
} */