@use "../abstracts" as *;

.hero__inner {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-m); 

  @include media(">=60em") {
    grid-template-columns: 1fr 1fr;
  }
}

.hero__content {
  h1 {
    font-size: var(--step-4);
    font-weight: 600;
    letter-spacing: -0.012em;

    @include media(">=60em") {
      margin-block-start: var(--space-xl);
    }
  }

  p {
    line-height: 1.9;
    max-inline-size: 65ch;
    margin-block-start: var(--space-s);
  }
}

.hero__image img {
    width: 100%;
    border-radius: 8px;
    aspect-ratio: 3 / 2;
    object-fit: cover;
}