@use "../abstracts" as *;

.site-header {
  padding-block: 1rem;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo svg {
    inline-size: clamp(10.625rem, 30vw, 13.75rem);
    block-size: auto;
  }
}