@use "../abstracts" as *;

.site-footer {
  font-size: var(--step--1);

  &__inner {
    display: grid;
    grid-template-columns: 1fr;

    @include media(">=medium") {
      grid-template-columns: 1fr 2fr;
    }
  }
}

/* .site-footer__header {
  background-color: var(--clr-neutral-1);

  > .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.site-footer__social-list {
  display: flex;
  gap: var(--space-2xs);
  align-items: center;
}

.site-footer__social-link {
  display: block;
  width: var(--step-0);
  line-height: 0;
}

.site-footer__social-icon {
  fill: var(--clr-neutral-4);
} */

.site-footer__contact-links {
  margin-top: var(--space-xs);

  a {
    display: block;
    width: fit-content;
    text-decoration-line: underline;
    text-decoration-color: var(--clr-neutral-99);
    text-underline-offset: 0.1875rem;

    &:hover {
      color: var(--clr-neutral-99);
    }
  }
}

.site-footer__nav {
  --auto-grid-min-size: 200px;
}

.site-footer__nav > div {

  h2 {
    font-size: var(--step--1);
    font-weight: 600;
    color: var(--clr-neutral-99);
  }

  ul {
    margin-block-start: var(--space-xs);
    
    li:not(:first-child) {
      margin-block-start: var(--space-3xs);
    }
  }

  a:hover {
    color: var(--clr-neutral-99);
  } 
}