/**
 *
 * css reset - based on:
 *
 * a modern css reset by andy bell
 * https://piccalil.li/blog/a-modern-css-reset/
 *
 * josh's custom css reset
 * https://www.joshwcomeau.com/css/custom-css-reset/
 *
 */

 /* box sizing rules */

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* remove default margin */

body,
h1, h2, h3, h4,
p,
figure,
blockquote,
ul, ol, li,
dl, dd {
  margin: 0;
}

/* if markers are used, set their position to be inside
   the parent's container */

ul, ol {
  list-style-position: inside;
  padding: 0;
}

/* remove list styles on ul, ol elements with a list role,
   which suggests default styling will be removed */

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* prevent adjustments of font size after orientation
   changes in ios. */

html {
  -webkit-text-size-adjust: 100%;
}

/* set core root defaults */

html:focus-within {
  scroll-behavior: smooth;
}

/* percentage-based height, because 'vh' doesn't work
   properly on mobile devices */

html, body {
  height: 100%;
}

body {
  /* ↓ prevent default value of 'subpixel antialiasing'
       on MacOS */
  -webkit-font-smoothing: antialiased;

  /* ↓ prevent potential performance issues */
  text-rendering: optimizespeed;
}

/* prevent long texts from breaking the layout */

p,
h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* sensible media defaults */

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}