---
title: Event Engineering
description: We supply festival power, lighting, sound and video systems for events across Europe. These packages are designed to give you ideas of the sort of setup that suits your requirements.
image: "packages-festival-main-mobile"
eleventyNavigation:
  key: Event Engineering
  parent: Services
  order: 1
---

<h1>{{ title }}</h1>