@use "../abstracts" as *;

/*---------------------------------------------------------*
  #LAYOUT
 *---------------------------------------------------------*/

/* Make element occupy entire viewport width
   https://piccalil.li/tutorial/creating-a-full-bleed-css-utility/ */

/* body:has(.full-bleed) {
  overflow-x: hidden;
}

.full-bleed {
  width: 100vw;                               
  margin-left: calc(50% - 50vw);
} */

/* Vertical spacing for page sections */

.region {
  padding-block: $space-l;

  &--small {
    padding-block: $space-xs;
  }
}

/*---------------------------------------------------------*
  #ACCESSIBILITY
 *---------------------------------------------------------*/

/* Visually hide element, but keep it accessible for screen
   readers */

.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}