@use '../abstracts' as *;

.hero {

  & > :where(.wrapper) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%,410px), 1fr));
    gap: $space-m;
  }

  &__content {

    @include media-min($screen-m) {
      margin-block-start: $space-l;
    }
  }
  
  &__title {
    font-size: $step-3;
    line-height: 1.2;
    margin-block-end: $space-s;
  }
  
  &__text {
    font-size: $step--1;
    line-height: 1.7;
  }
  
  &__img {
  
    & img {
      width: 100%;
      border-radius: 0.625rem;
      aspect-ratio: 3 / 2;
      object-fit: cover;
    }
  }
}

.products {
  background-color: $color-neutral-2;
}

.breadcrumbs {
  margin-block-end: $space-l;
}

.breadcrumbs ol {
  display: flex;
  align-items: last baseline;
  font-size: 0;
}

.breadcrumbs li {
  font-size: $step--2;

  &:last-child {
    font-weight: 700;
  }
}

.breadcrumbs a {
  text-decoration: underline;

  &::after {
    display: inline-block;
    content: '›';
    margin-inline: 5px;
    font-size: 14px;
    font-weight: 700;
  }
}

.products__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%,350px), 1fr));
  gap: $space-s;
  margin-block-end: $space-m;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: $color-neutral-4;
  border-radius: 0.625rem;
  overflow: hidden;
}

.card__img {
  background-color: #fff;
  
  & img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: contain;
  }
}

.card__content {
  display: grid;
  row-gap: $space-xs;
  padding: $space-s;
}

.card__title {
  font-size: $step-0;
  line-height: 1.2;
}

.card__list {
  display: grid;
  row-gap: $space-3xs;
  font-size: $step--1;
  padding: 0;
  
  & li {
    display: flex;
    align-items: flex-start;

    &::before {
      content: url(../assets/img/list-bullet-check.svg);
    }
  }

  & span {
    display: inline-block;
    padding-inline-start: $space-xs;
  }
}

.card__price {
  font-size: $step--1;
  font-weight: 700;
  margin-bottom: clamp(1.13rem, 0.99rem + 0.65vw, 1.5rem);

  & span {
    font-weight: 400;
  }
}

.card__link {
  margin-top: auto;
  padding: 0 $space-s $space-s;

  & > a {
    display: block;
    font-size: $step--1;
    font-weight: 700;
    color: #333;
    text-align: center;
    padding-block: $space-2xs;
    border-radius: 0.375rem;
    background-color: #f5ce0a;
  }
}

.promo__title {
  font-size: $step-1;
  margin-block-end: $space-xs;
}

.promo__text {
  font-size: $step--1;
  line-height: 1.7;
  max-width: 60ch;
  margin-block-end: $space-xs;
}

.promo__link {
  display: inline-block;
  font-size: $step--1;
  font-weight: 700;
  line-height: 1;
  color: $color-neutral-1;
  padding: 1em 2em 1em;
  border: 1px solid $color-neutral-1;
  border-radius: 0.375rem;
  background: $color-neutral-4;

  &:hover {
    border-color: $color-primary-1;
    color: $color-primary-1;
    transition:
      border-color 200ms ease,
      color 200ms ease;
  }
}