@use "../abstracts" as *;

.hero {  
  > .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%,410px), 1fr));
    gap: $space-m;
  }
}

.hero > .wrapper > {
  div {
    @include media-min($screen-m) {
      margin-block-start: $space-l;
    }

    h1 {
      font-size: $step-3;
      line-height: 1.2;
      margin-block-end: $space-s;
    }
    
    p {
      font-size: $step--1;
      line-height: 1.7;
    }
  }
  
  picture {
    img {
      width: 100%;
      border-radius: $border-radius;
      aspect-ratio: 3 / 2;
      object-fit: cover;
    }
  }
}

.products {
  background-color: $color-neutral-2;
}

.breadcrumbs {
  font-size: $step--2;
  line-height: 1;
  margin-block-end: $space-l;

  ol {
    display: flex;
  }

  li {
    align-self: baseline;
  
    &:last-child {
      font-weight: 700;
    }
  
    &:not(:last-child) a {
      text-decoration: underline;
    
      &::after {
        content: "›";
        display: inline-block;
        font-weight: 700;
        margin-inline: 0.4em;
      }
    }
  }
}

.products__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%,350px), 1fr));
  gap: $space-s;
  margin-block-end: $space-m;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: $color-neutral-4;
  border-radius: $border-radius;
  overflow: hidden;
}

.card__img {
  background-color: #fff;
  
  & img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: contain;
  }
}

.card__content {
  display: grid;
  row-gap: $space-xs;
  padding: $space-s;
}

.card__title {
  font-size: $step-0;
  line-height: 1.2;
}

.card__list {
  display: grid;
  row-gap: $space-3xs;
  font-size: $step--1;
  padding: 0;
  
  & li {
    display: flex;
    align-items: flex-start;

    &::before {
      content: url("../assets/img/list-bullet-check.svg");
    }
  }

  & span {
    display: inline-block;
    padding-inline-start: $space-xs;
  }
}

.card__price {
  font-size: $step--1;
  font-weight: 700;
  margin-bottom: clamp(1.13rem, 0.99rem + 0.65vw, 1.5rem);

  & span {
    font-weight: 400;
  }
}

.card__link {
  margin-top: auto;
  padding: 0 $space-s $space-s;

  & > a {
    display: block;
    color: $color-neutral-3;   
    background-color: #f5ce0c;
  }
}

.promo__title {
  font-size: $step-1;
  margin-block-end: $space-xs;
}

.promo__text {
  font-size: $step--1;
  line-height: 1.7;
  max-width: 60ch;
  margin-block-end: $space-xs;
}

.promo__link {
  text-transform: uppercase;
  letter-spacing: 0.044em;
  color: $color-neutral-1;
  // padding: 1em 2em 1em;
  border: 2px solid $color-neutral-1;
  border-radius: 100vmax;
  background-color: black;
  transition-duration: 400ms;

  &:hover {
    box-shadow: 0px 0px 8px 3px rgba(242, 242, 242, 0.15);
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  }
}