<header class="page-header">
  <div class="wrapper">
    <div class="page-header__text">
      <h1 class="page-header__title">{{ title }}</h1>
      <p class="page-header__summary">{{ description }}</p>
    </div>
    {# <img class="page-header__img" src="/assets/img/{{ image }}.jpg" alt=""> #}
    <picture class="page-header__img">
      <source srcset="/assets/img/{{ image }}.avif" type="image/avif">
      <source srcset="/assets/img/{{ image }}.webp" type="image/webp">
      <img src="/assets/img/{{ image }}.jpg" alt="">
    </picture>
  </div>
</header>