<li>
  <article class="card">

    <a href="{{ i.url }}">
      <picture class="card__image">
        <source srcset="/assets/img/{{ i.data.thumbnail }}.avif" type="image/avif">
        <source srcset="/assets/img/{{ i.data.thumbnail }}.webp" type="image/webp">
        <img src="/assets/img/{{ i.data.thumbnail }}.jpg" alt="">
      </picture>
    </a>

    <div class="card__content flow">
      <h2 class="card__title"><a href="{{ i.url }}">{{ i.data.title }}</a></h2>
      <p class="card__price">{{ i.data.price }} <span>/ day</span></p>
      {# <ul class="card__list" role="list">
        {% for item in i.data.list %}
          <li><span>{{ item }}</span></li>
        {% endfor %}
      </ul> #}
      {# <p class="card__info">
        <svg height="21" viewBox="0 0 21 21" width="21" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd" transform="translate(2 2)"><g stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"><circle cx="8.5" cy="8.5" r="8"/><path d="m8.5 12.5v-4h-1"/><path d="m7.5 12.5h2"/></g><circle cx="8.5" cy="5.5" fill="currentColor" r="1"/></g></svg>
        <span>Ideal for events up to 500 guests</span>
      </p> #}
      {# <a href="{{ i.url }}" class="card__link btn">Go to product</a> #}
    </div>

  </article>
</li>