---
layout: "base.njk"
---

<header class="hero region">
  <div class="wrapper">
    <div>
      <h1>{{ title }}</h1>
      <p>{{ description }}</p>
    </div>
    <picture>
      <source srcset="/assets/img/{{ image }}.avif" type="image/avif">
      <source srcset="/assets/img/{{ image }}.webp" type="image/webp">
      <img src="/assets/img/{{ image }}.jpg" alt="">
    </picture>
  </div>
</header>

<div class="products region">
  <div class="wrapper">

    <nav class="breadcrumbs" aria-label="breadcrumbs">
      <ol role="list">
        <li><a href="/">Home</a></li>
        <li><a href="#0">Rental</a></li>
        <li><a href="#0">{{ eleventyNavigation.parent }}</a></li>
        <li>
          <a href="{{ page.url }}" aria-current="location">
            {% if package %}
              {{ package }}
            {% else %}
              {{ title }}
            {% endif %}
          </a>
        </li>
      </ol>
    </nav>

    <div class="products__list">
      {{ content | safe }}
    </div>
      
    <div class="promo">
      <h2 class="promo__title">Get a customized offer</h2>
      <p class="promo__text">Get in touch with us today to see for yourself how our <strong>dependable</strong> and <strong>professional</strong> team can help ensure your event to be both <strong>seamless</strong> and <strong>memorable</strong>.</p>
      <a href="#0" class="promo__link button">Let's talk!</a>
    </div>

  </div>
</div>