---
layout: "base.njk"
---

<header class="hero region">
  <div class="wrapper auto-grid">
    <div class="hero__copy">
      <h1>{{ title }}</h1>
      <p>{{ description }}</p>
    </div>
    <picture class="hero__image">
      <source srcset="/assets/img/{{ image }}.avif" type="image/avif">
      <source srcset="/assets/img/{{ image }}.webp" type="image/webp">
      <img src="/assets/img/{{ image }}.jpg" alt="">
    </picture>
  </div>
</header>

<div class="region--lg bg-neutral-3">
  <div class="wrapper flow">

    <nav class="breadcrumbs" aria-label="breadcrumbs">
      <ol role="list">
        <li><a href="/">Home</a></li>
        <li><a href="#0">Rental</a></li>
        <li><a href="#0">{{ eleventyNavigation.parent }}</a></li>
        <li>
          <a href="{{ page.url }}" aria-current="location">
            {% if package %}
              {{ package }}
            {% else %}
              {{ title }}
            {% endif %}
          </a>
        </li>
      </ol>
    </nav>

    <article class="auto-grid">
      {{ content | safe }}
    </article>

    <div class="promo">
    <div class="wrapper">
      <h2 class="promo__title">Get a customized offer</h2>
      <p class="promo__text">Get in touch with us today to see for yourself how our dependable and professional team can help ensure your event to be both seamless and memorable.</p>
      <a href="#0" class="promo__link btn">Let's talk!</a>
    </div>
  </div>

  </div>
</div>