@use "../abstracts" as *;

/* Sticky footer */

body { 
  display: flex;
  flex-direction: column;
  
  & > footer { 
    margin-top: auto;
  }
}

/* Site footer */

.site-footer {
  font-size: $step--2;

  > .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%,200px), 1fr));
    gap: $space-s;

    @include media-max($screen-s) {
      grid-template-columns: 1fr;
    }
  }
}

.site-footer__header {
  background-color: $color-neutral-1;

  > .wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.site-footer__social {
  align-self: center;
}

.site-footer__social-list {
  display: flex;
  gap: $space-2xs;
  align-items: center;
}

.site-footer__social-link {
  display: block;
  width: $step-0;
  line-height: 0;
}

.site-footer__social-icon {
  fill: $color-neutral-4;
}

.site-footer__contact {
  display: grid;
  gap: $space-3xs;
}

.site-footer__contact-links {

  & a {
    text-decoration: underline;
    text-decoration-color: $color-primary-1;
    text-underline-offset: 3px;

    &:hover {
      text-decoration-color: $color-neutral-1;
    }
  }
}

.site-footer__nav {

  h2 {
    font-size: $step--2;
    color: hsl(0, 0%, 70%);
    margin-block-end: $space-2xs;
  }

  ul {
    display: grid;
    gap: $space-3xs;
  }

  a:hover {
    color: $color-neutral-99;
    transition: color $transition-basic;
  } 
}