@use "../abstracts" as *;

.site-header {
  background-color: $color-primary-1;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  width: clamp(170px, 30vw, 220px);
}