@use '../abstracts' as *;

.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $icon-menu-size;
  height: $icon-menu-size;

  @include media-min($viewport-m) {
    display: none;
  }
}

.menu-btn__icon {

  &,
  &::before,
  &::after {
    display: block;
    width: $line-menu-width;
    height: $line-menu-height;
    background-color: $color-neutral-4;
    border-radius: 100vmax;
  }

  &::before,
  &::after {
    content: '';
    transition: transform $transition-1;
  }

  &::before {
    transform: translateY(-1 * ($line-menu-space + $line-menu-height));

    .is-active & {
      transform: translateY(-2px) rotate(45deg);
    }
  }

  &::after {
    transform: translateY($line-menu-space);

    .is-active & {
      transform: translateY(-6px) rotate(-45deg);
    }
  }

  .is-active & {
    height: 0;
  }
}

.primary-nav {
  font-size: $step-1;
  font-weight: 700;
  color: $color-neutral-3;

  @include media-min($viewport-m) {
    font-size: $step--1;
  }
}

.primary-nav__list {
  display: flex;
  column-gap: $space-s;
  user-select: none;

  @include media-max($viewport-m) {
    display: none;
    flex-direction: column;
    // gap: $space-xs;
    position: absolute;
    inset: auto 0;
    z-index: 999;
    color: $color-copy-1;
    // padding-block: $space-l;
    background-color: $color-neutral-4;
    // border-bottom: 1px solid $color-primary-1;

    .is-active & {
      display: flex;
    }
  }
}

.primary-nav__item {

  @include media-max($viewport-m) {
    // padding-block: 14px;

    &:last-child {
      border-width: 3px;
    }
  }
}

.primary-nav__list button {
  text-align: left;
}

/* Menu item: Level 2 */
.primary-nav > .primary-nav__list > .primary-nav__item > .primary-nav__list > .primary-nav__item > .submenu-toggle > .submenu-toggle__icon {
  fill: $color-neutral-101;
}

/* Menu item: Level 3 */
.primary-nav > .primary-nav__list > .primary-nav__item.has-children > .primary-nav__list > .primary-nav__item > .primary-nav__list > .primary-nav__item {
  color: $color-neutral-1;
  background-color: #353535;
  font-weight: 400;
}

.primary-nav__list > .primary-nav__item.has-children > .primary-nav__list {
  position: static;
  border: 0;
  padding: 0;
}

.primary-nav__list > :where(.primary-nav__item.has-children > .primary-nav__list > .primary-nav__item.has-children > .primary-nav__list) {
  display: none;
}

.primary-nav__list > :where(.primary-nav__item.has-children > .primary-nav__list > .primary-nav__item) {
  padding-inline: 0;
}

.submenu-toggle {
  display: flex;
  cursor: pointer;

  @include media-max($viewport-m) {
    justify-content: space-between;
    padding-inline: $wrapper-padding;
    border-bottom: 1px solid $color-neutral-2;
  }

  @include media-min($viewport-m) {
    gap: 0.5rem;
  }

  &__btn {
    @include media-max($viewport-m) {
      padding-block: $space-xs;
    }
  }

  &__icon {
    fill: $color-neutral-1;
    width: 1.125rem;

    @include media-min($viewport-m) {
      fill: $color-neutral-4;
      width: 14px;
    }
  }
}
 
.submenu-toggle {

  & > .submenu-toggle__icon {
    transform: rotate(0deg);
    transition: transform $transition-1;
  }

  & ~ .primary-nav__list {
    display: none;
  }
}

.submenu-toggle.is-active {

  & > .submenu-toggle__icon {
    transform: rotate(180deg);
  }

  & ~ .primary-nav__list {
    display: block;
    color: $color-neutral-1;
    font-weight: 700;
    background-color: $color-neutral-301;
  }
}

.primary-nav__link {
  // vertical-align: text-top;

  @include media-max($viewport-m) {
    display: block;
    padding-inline: $wrapper-padding;
    padding-block: $space-xs;
    border-bottom: 1px solid $color-neutral-2;

    &.has-children {
      display: none;
    }
  }
}