@use "../abstracts" as *;

.main-nav {
  font-size: $step-1;
  font-weight: 700;
  color: $color-neutral-3;

  @include media-min($screen-m) {
    font-size: $step--1;
  }
}

/* Hamburger button */

.main-nav > button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $icon-menu-size;
  height: $icon-menu-size;

  @include media-min($screen-m) {
    display: none;
  }

  span {
    &, &::before, &::after {
      display: block;
      width: $line-menu-width;
      height: $line-menu-height;
      background-color: $color-neutral-4;
      border-radius: 100vmax;
    }
    
    &::before, &::after {
      content: "";
      transition: transform $transition-1;
    }
  
    &::before {
      transform: translateY(-1 * ($line-menu-space + $line-menu-height));
    }
  
    &::after {
      transform: translateY($line-menu-space);
    }
  }

  &[aria-expanded="true"] {
    span {
      height: 0;

      &::before {
        transform: translateY(-2px) rotate(45deg);
      }

      &::after {
        transform: translateY(-6px) rotate(-45deg);
      }
    }
  }
}

.main-nav > {
  ul {
    display: flex;

    @include media-max($screen-m) {
      flex-direction: column;
      opacity: 0;
      visibility: hidden;
      transition: opacity $transition-1, visibility $transition-1;
      position: absolute;
      inset-inline: 0;
      z-index: 999;
      background-color: hsl(49.7, 72.3%, 73.1%);
      border-top: 1px solid currentColor;
    }

    @include media-min($screen-m) {
      column-gap: $space-s;
    }
  }

  button[aria-expanded="true"] + ul {
    @include media-max($screen-m) {
      opacity: 1;
      visibility: visible;
    }
  }
}

.main-nav li[data-state="has-sub-menu"] {
  @include media-min($screen-m) {
    position: relative;

    ul {
      position: absolute;
      top: 60px;
      z-index: 999;
      min-width: 14.25rem;
      border: 1px solid $color-neutral-2;
      border-radius: 0.5em;
    }
  }
}

/* Sub menu button */

.main-nav ul button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;

  @include media-max($screen-m) {
    justify-content: space-between;
  }

  svg {
    fill: #212121;
    width: 14px;
  }
}

.main-nav ul button {
  + ul {
    display: none;
  }
  
  &[aria-expanded="true"] + ul {
      display: flex;
  }
}

/* All links */

.main-nav a:hover {
  color: black;
  transition: color $transition-1;
}

/* Sub links */

.main-nav ul :where(a, button) {
  user-select: none;

  @include media-max($screen-m) {
    display: block;
    padding: $space-xs;
    border-bottom: 1px solid currentColor;
  }

  @include media-max($screen-m) {
    padding-block: $space-xs;
    padding-inline: $wrapper-padding;
    border-bottom: 1px solid $color-neutral-2;
  }
}