@use "../abstracts" as *;

.main-menu-btn {
  --auto-flex-justify: center;
  width: $menu-icon-size;
  height: $menu-icon-size;

  @include media-min($viewport-m) {
    display: none;
  }
}

.main-menu-btn span {
  &, &::before, &::after {
    display: block;
    width: $menu-line-width;
    height: $menu-line-height;
    background-color: $clr-neutral-4;
    border-radius: 100vmax;
  }
  
  &::before, &::after {
    content: "";
    transition: transform $trans-1;
  }

  &::before {
    transform: translateY(-1 * ($menu-line-space + $menu-line-height));
  }

  &::after {
    transform: translateY($menu-line-space);
  }
}

.main-menu-btn[aria-expanded="true"] span {
  height: 0;

  &::before {
    transform: translateY(-2px) rotate(45deg);
  }

  &::after {
    transform: translateY(-6px) rotate(-45deg);
  }
}

.main-menu {
  display: flex;
  font-size: var(--step-1);
  font-weight: 500;
  color: $clr-neutral-3;

  @include media-max($viewport-m) {
    flex-direction: column;
    position: absolute;
    inset-inline: 0;
    z-index: 999;
    background-color: hsl(49.7, 72.3%, 73.1%);
    border-top: 1px solid currentColor;
    opacity: 0;
    visibility: hidden;
    transition: opacity $trans-1, visibility $trans-1;

    .main-menu-btn[aria-expanded="true"] + & {
      opacity: 1;
      visibility: visible;
    }
  }

  @include media-min($viewport-m) {
    font-size: var(--step--1);
    column-gap: var(--space-s);
  }
}

.main-menu .has-sub-menu {
  @include media-min($viewport-m) {
    position: relative;

    ul {
      position: absolute;
      top: 60px;
      z-index: 999;
      min-width: 14.25rem;
      border: 1px solid $clr-neutral-2;
    }
  }
}

.sub-menu-btn {
  @include media-min($viewport-s) {
    --auto-flex-gap: 0.5rem;
  }
 
  width: 100%;

  svg {
    fill: #212121;
    width: 14px;
  }
}

.sub-menu {
  display: none;
  
  .sub-menu-btn[aria-expanded="true"] + & {
      display: flex;
  }
}

.main-menu a:hover {
  color: black;
  transition: color $trans-1;
}

.main-menu {
  a {
    display: block;
  }

  :where(a, button) {
    user-select: none;

    @include media-max($viewport-m) {
      padding-block: var(--space-xs);
      padding-inline: $wrapper-padding;
      border-bottom: 1px solid currentColor;
    }
  }
}