---
title: Equipment 200
thumbnail: "product-turbosound"
price: 385 €
list:
  - For events with up to 500 guests
  - Ideal for smaller events
  - Including delivery and assembly
---

<h1>{{ title }}</h1>