---
title: Screen 100
thumbnail: "product-turbosound"
price: 385 €
list:
  - For events with up to 200 guests
  - Ideal for smaller events
  - Including delivery and assembly
---

<h1>{{ title }}</h1>